<div class="container" style="height: auto; min-height: 100vh;">
    <br>
    <div class="row">
        <div class="col text-center">
            <h1>Скульптура</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col justify-content-between">
            <button style="margin: 0.5rem;"  type="button" class="btn btn-dark">Скульптура</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <button (click)='sortPrice("priceUp")' style="margin: 0.5rem;" type="button" class="btn btn-outline-dark">По возрастанию цены</button>
            <button (click)='sortPrice("priceDown")' style="margin: 0.5rem;" type="button" class="btn btn-outline-dark">По убыванию цены</button>
        </div>
    </div>
    <br>
    <!-- preloader -->
    <div *ngIf='prodLepnina == null' class="row justify-content-center">
        <div class="spinner-grow" style="width: 3rem; height: 3rem;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col prod-line">
            <!-- product -->
            <div class="card rounded shadow" style="width: 18rem; position: relative;" *ngFor='let prod of prodLepnina; let i = index'>
                <img (click)='imgOpen(prod); open2 = true' src="{{prod.imageUrl}}" class="rounded card-img-top" alt="...">
                <div class="card-body p-0">
                    <div class="row text-center">
                        <h2 style="margin: 0.5rem 0" class="card-title">{{prod.name}}</h2>
                    </div>
                    <div class="col-info">
                        <ul style="width: 100%;" class="list-group">
                            <li class="list-group-item">Высота: <span> {{prod.height}} мм</span></li>
                            <li class="list-group-item">Ширина: <span> {{prod.width}} мм</span></li>
                            <li class="list-group-item">Длина: <span> {{prod.length}} мм</span></li>
                        </ul>
                        <h4 style="margin: 0.5rem 0;" class="card-text">{{prod.price}}₽</h4>
                        <button style="margin: 1rem 0;" (click)='addCart(prod)' class="btn btn-danger btn-lg">В корзину<svg style="margin-left: 0.5rem;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus" viewBox="1 1 16 16">
                        <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg></button>
                        <button (click)='imgOpen(prod); open2 = true' style="margin: 0.1rem 0; margin-bottom: 0.5rem;" class="btn btn-dark">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- btn-call -->
    <button title="Заказать звонок" (click)='open = true' style="padding: 0; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;" class="btn call d-flex btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-telephone-plus" viewBox="-4 -5 25 25">
        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
        <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
    </svg></button>
    <!-- modal-call -->
    <div (click)='open = false' *ngIf='open != false' class="call-wrapper">
        <div (click)='stop($event)' *ngIf='open3 == false' class="shadow rounded call-form text-center p-4">
            <button (click)='open = false' type="button" class="btn-close"></button>
            <br>
            <h2>Заказать звонок</h2>
            <form onsubmit="return false;" (submit)='addCall(name.value,tel.value)'>
                <br>
                <input required #name type="text" class="form-control" placeholder="Введите имя...">
                <br>
                <input required #tel type="tel" class="form-control" maxlength="11" placeholder="Введите телефон...">
                <br>
                <br>
                <button style="margin: 0.5rem;" type="submit" class="btn btn-dark btn-lg">Заказать</button>
            </form>
        </div>
        <div (click)='stop($event)' *ngIf='open3 == true' class="shadow rounded call-form text-center p-4">
            <button (click)='open = false' type="button" class="btn-close"></button>
            <h5 style="margin-top: 40%;">Благодарим Вас за заказ звонка!</h5>
        </div>
    </div>

    <!-- toast -->
    <div *ngIf='open4 == true' class="call-wrapper">
        <div style="margin-top: 20%;" class="toast-box bg-danger text-white shadow rounded">
            <h5>{{toast}}</h5>
        </div>
    </div>

    <!-- img-card -->
    <div (click)='open2 = false' *ngIf='open2 == true' class="img-wrapper">
        <div (click)='stop($event)' class="shadow rounded img-wrapper_box">
            <button style="top: 0; left: 0;" (click)='open2 = false' type="button" class="btn-close"></button>
            <div *ngFor='let item of openItem' class="row">
                <div class="col">
                    <img style="user-select: none;" src="{{item.imageUrl}}" class="img-fluid" >
                    <div class="col-card">
                        <h2 style="margin: 1rem 0;" class="card-text">{{item.name}}</h2>
                        <h3 style="margin: 1rem 0;" class="card-text">Скульптура</h3>
                        <p style="margin: 1rem 0" class="card-text">{{item.description}}</p>
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th>Высота</th>
                                    <td class="text-end">{{item.height}} мм</td>
                                </tr>
                                <tr>
                                    <th>Ширина</th>
                                    <td class="text-end">{{item.width}} мм</td>
                                </tr>
                                <tr>
                                    <th>Длина</th>
                                    <td class="text-end">{{item.length}} мм</td>
                                </tr>
                            </tbody>
                        </table>
                        <button style="margin: 1rem 0;" (click)='addCart(item); open2 = false' class="btn btn-danger btn-lg">В корзину<svg style="margin-left: 0.5rem;" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-plus" viewBox="1 1 16 16">
                            <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                            <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
