@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
}

.wrapper {
    position: fixed;
    display: none;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}
.modal {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 500px;
    height: auto;
    background: white;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #212121; 
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    transform: translateY(-120%);

		// .modal_close

		&_close {
            position: absolute;
            top: -30px;
            right: -30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            border: 2px solid #212121;
            outline: none;
            background: #3949ab;
            color: white;
            transition: 0.5s;
            cursor: pointer;
		}
        &_close:hover {
            box-shadow: 0 0 0 5px hsla(232, 50%, 45%, 0.5);
        }
        &_close:active {
            box-shadow: 0 0 0 10px hsla(232, 50%, 45%, 0.7);
        }

		// .modal_header

		&_header {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            background: #3949ab;
            border-radius: 1rem;
            color: white;
            font-weight: 500;

            span {font-size: 1.5rem;}
		}

		// .modal_body

		&_body {
            padding: 0.5rem;
            word-break: break-all;
		}

		// .modal_footer

		&_footer {
            width: 100%;
            height: 30px;
            background: rgba(57, 72, 171, 0.5);
            border-radius: 1rem;
		}

		// .modal_open

		&_open {
            width: 150px;
            height: 50px;
            border-radius: 1rem;
            border: 2px solid #212121;
            outline: none;
            background: #3949ab;
            color: white;
            transition: 0.5s;
            cursor: pointer;
		}
        &_open:hover {
            box-shadow: 0 0 0 10px hsla(232, 50%, 45%, 0.5);
        }
        &_open:active {
            box-shadow: 0 0 0 15px hsla(232, 50%, 45%, 0.7);
        }
}
